@import "../../../../../../scss/settings/functions.scss";

.users {
  display: grid;
  grid-gap: 2.9rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  margin-bottom: 5rem;

  @media (min-width: em(576)) and (max-width: em(1024)) {
    grid-gap: 1.6rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: em(360)) and (max-width: em(576)) {
    display: block;
  }
}
