:root {
  // colors
  --clr-default-100: #ffffff;
  --clr-default-200: rgba(255, 255, 255, 0.87);
  --clr-default-300: #b4b4b4;
  --clr-default-800: #7e7e7e;
  --clr-default-900: rgba(0, 0, 0, 0.87);

  --clr-primary: #f4e041;
  --clr-secondary: #00bdd3;
  --clr-bg: #f8f8f8;

  // Transition speed
  --transition: 0.3s;
}
